header {
	//border-bottom: 1px solid $line-color;
	overflow: hidden;
	.row {
		padding: 1rem 1rem 0 1rem;

	}

	.title, .subtitle {
	}

	.title {
		font-family: $header-font;
		~ .subtitle {
			margin-top: -1 * $header-vertical-margin;
			margin-bottom: $header-vertical-margin / 2;
			text-align: right;
		}
	}

	.main {
		max-width: 35rem;
		text-align: right;
		margin-left: auto;
	}

	.menu {
		text-align: right;
		padding-right: 1rem;
		max-width: 35rem;
		margin-left: auto;
		ul {
			list-style: none;
			text-align: inherit;
			li {
				width: auto;
				max-width: 7rem;
				display: block;
				margin-left: auto;
				border-bottom: 1px solid $line-color;
				a {
					color: $secondary-font-color;
					text-decoration: none;
				}
			}
		}
	}

	@media (min-width: 550px) {
		.main, .menu {
			margin-right: auto;
			margin-left: 0;
		}
	}
}