header {
	//border-bottom: 1px solid $line-color;
	overflow: hidden;
	.row {
		padding-right: 1rem;
		@media (min-width: $breakpoint) {
			padding-right: 0;
		}

	}

	.title, .subtitle {
	}

	.title {
		padding-top: .5rem;
		margin-bottom: 0;
		@media (min-width: $breakpoint) {
			padding-top: 1.5rem;
			margin-bottom: 1rem;
		}

		font-family: $header-font;
		~ .subtitle {
			margin-top: -1 * $header-vertical-margin;
			margin-bottom: $header-vertical-margin / 2;
			text-align: right;
		}
	}

	.main {
		max-width: 30rem;
		text-align: right;
		margin-left: auto;
	}

	.menu {
		text-align: right;

		@media (min-width: $breakpoint) {
			padding-right: 2rem;
			padding-top: 1rem;
		}
		max-width: 30rem;
		margin-left: auto;
		ul {
			list-style: none;
			text-align: inherit;
			li {
				width: auto;
				max-width: 7rem;
				display: block;
				margin-left: auto;
				margin-bottom: 0;

				a {
					color: $secondary-font-color;
					text-decoration: none;
				}

				position: relative;
				&::after {
				    content: '';
				    width: 2.5rem;
				    border-bottom: 1px solid #d9d9d9;
				    height: 1px;
				    position: absolute;
				    bottom: 0;
				    right: 0;
				}
			}
		}
	}

	@media (min-width: $breakpoint) {
		.main, .menu {
			margin-right: auto;
			margin-left: 0;
			margin-bottom: -2rem;
		}
	}
}