$triangle-color: $secondary-font-color-faded;

@mixin triangle {
	width: 0;
    height: 0;
    padding-right: 25rem;
    padding-top: 3rem;
    overflow: hidden;
    position: relative;

    &::after {
		position: relative;
		top: 0;
		content: '';
	    display: block;
	    width: 0;
	    height: 0;
	    margin-right:-50rem;
	    margin-top:-50rem;
    
    	border-right: 1000rem solid transparent;
    	border-top: 50rem solid $triangle-color;
    
	}
}

.width-auto {
	width: auto;
	display: inline-block;
}

.triangle-container {
	max-width: 35rem;
	width: 100%;
	margin-right: 0;
	margin-left: auto;

	@media (min-width: 550px) {
		margin-left: 0;
		margin-right: auto;
	}

	.triangle {
		margin-left: auto;
		&.up-left {
			margin-left: auto;
			@media (min-width: 550px) {
				margin-right: 0;
				margin-left: auto;
			}
			@include triangle
		}
	}

}