@import 'normalize';
@import 'skeleton';

$header-font: 'Libre Baskerville', serif;
$primary-font: 'Open Sans', sans-serif;

$primary-background-color: white;
$secondary-background-color: #663399;
$primary-font-color: darken(white, 90);
$secondary-font-color: white;

$line-color: darken(white, 15);

$header-vertical-margin: 2rem;

@import 'helpers';
@import 'header';

html, body {
	background: $primary-background-color;
	font-family: $primary-font;
	color: $primary-font-color;
}