header {
    .title {
        text-align: center;
    }
    .menu {
        text-align: center;
        .list-item {
            @include sm {
                display: inline-block;
            }
            font-size: 2rem;
            a {
                display: inline-block;
                padding: 0 2rem;
                color: $secondary-font-color;
                @include transition;
                &:hover {
                    @include transition;
                    color: darken($secondary-font-color, 10);
                    transform: translateY(-3px);
                }
            }
        }
    }
}