
.title {
    text-align: center;
    a {
        text-decoration: unset;
        color: unset;
        &:hover {
            color: unset;
        }
    }
}
.menu {
    text-align: center;
    margin-bottom: 0;

    .list-item {
        font-size: 2rem;

        @include sm {
            display: inline-block;
        }
    }


}
