* {
    box-sizing: border-box;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

ul li {
    list-style: none;
    a {
        text-decoration: none;
        color: $primary-font-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}
