@import 'scss/normalize';
@import 'scss/skeleton';

$header-font: 'Georgia', serif;
$primary-font: 'Open Sans', sans-serif;

$primary-background-color: white;
$secondary-background-color: #663399;
$primary-font-color: darken(white, 80);
$secondary-font-color: rgba(30, 174, 219, 1);
$secondary-font-color-faded: rgba(30, 174, 219, .4);
$line-color: darken(white, 15);

$header-vertical-margin: 2rem;

$breakpoint: 750px;
$screen-size: 80rem;

$max-header-item-width: 35rem;

@import 'scss/helpers';
@import 'scss/header';
@import 'scss/content';
@import 'scss/footer';

html, body {
	background: $primary-background-color;
	font-family: $primary-font;
	color: $primary-font-color;
}

a {
	color: $secondary-font-color;
	text-decoration: none;
	@include transition(0.2s, ease-in);
	&:hover {
		@include transition(0.2s, ease-in);
		color: darken($secondary-font-color, 15);
	}
}

p {
	margin-bottom: 0;
}

img {
	max-width: 100%;
}

.container {
	background: $primary-background-color;
	border-left: 1px solid $line-color;
	border-right: 1px solid $line-color;
	padding: 0 5rem;
	    box-shadow: 0px 4px 4px 0px $line-color;

	&::after {
	    /*content: ' ';
	    height: 10px;
	    width: 100%;
	    position: absolute;
	    margin-left: -4.99rem;
	    background: white;
	    z-index: 100;*/
	}
}

.container, .container-fluid {
	position: relative;
	max-width: $screen-size;
	margin-left: auto;
	margin-right: auto;

}